/* Fonts start */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
/* Fonts end */

body{
	font-family: 'Work Sans', sans-serif !important;
}
.separator{
	display: block;
	position: relative;
	height: 1px;
	border-bottom: 1px solid grey;
}
.separator.small{
	width: 27px;
}
/*Navbar section start*/
.nav-item.active{
	border-bottom: black 2px solid;
}

.nav-item:hover{
	border-bottom: black 2px solid;
	transition: .3s;
}

.nav-item:hover .nav-item.active{
	border: none;
}
.navbar{
	height: 50px;
}
.navbar-nav{
	height: 42px;
}
/* Navbar section end */

/* Carousel section start */
.carousel-control-next, .carousel-control-prev{
	width: 5%;
	z-index: 5;
}
.carousel-item{
	height: 550px;
}
@media only screen and (max-width: 1080px){
	.carousel-item{
		height: auto;
	}
}
.btn{
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 0px;
}
.carousel-overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
	background-color: rgba(0,0,0,.5);
}
.carousel-caption{
	top: 35% !important;
}
.carousel-caption h1{
	margin-bottom: 20px;
	font-size: 60px;
}
@media only screen and (max-width: 768px){
	.carousel-caption{
		top: 35% !important;
	}
	.carousel-caption h1{
		margin-bottom: 10px;
		font-size: 40px;
	}
	.carousel-caption a{
		font-size: 25px;
	}
}
@media only screen and (max-width: 414px){
	.carousel-caption{
		top: 35% !important;
	}
	.carousel-caption h1{
		margin-bottom: 10px;
		font-size: 20px;
	}
	.carousel-caption a{
		font-size: 10px;
	}
}
.btn-slider{
	padding: 5px 20px;
	font-size: 25px;
	color: #fff;
	text-align: center;
}

.btn-slider:hover{
	color: black;
	background-color: rgb(255,255,255);
	transition: .5s;
}
/* Carousel section end */

/* Store section start*/
.store{
	margin-top: 50px;
}
.store-main{
	height: 700px;
}
/* Store section end*/

/* Licensing section start*/
.license{
	margin-top: 50px;
}
.license-item{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 15px;
	margin-bottom: 0px;
}
/* Licensing section end*/