/* Fonts start */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500');
/* Fonts end */
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden;
}
body{
	font-family: 'Work Sans', sans-serif !important;
	background-color: #000;
	color: #fff;
}
.separator{
	display: block;
	position: relative;
	height: 1px;
	border-bottom: 1px solid grey;
}
.separator.small{
	width: 27px;
}
/*Navbar section start*/
header{
	position: absolute;
	z-index: 100;
}
.logo {
	line-height: 60px;
	position: fixed;
	float: left;
	margin: 16px 46px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

nav {
	position: fixed;
	width: 100%;
	line-height: 60px;
}

nav ul {
	line-height: 60px;
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #fff;
	padding: 0;
	text-align: right;
	margin: 0;
	padding-right: 40px;
	transition: .3s;
}

nav.black ul {
	background: #000;
}

nav ul li {
	display: inline-block;
	padding: 16px 40px;;
}

nav ul li a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.logo a{
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.menu-icon {
	line-height: 60px;
	width: 100%;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}
@media(max-width: 786px) {

	.logo {
		  position: fixed;
		  top: 0;
		  margin-top: 16px;
	}

	nav ul {
		  max-height: 0px;
		  background: #000;
		  padding-right: 0px;
	}

	nav.black ul {
		  background: #000;
	}

	.showing {
		  max-height: 34em;
	}

	nav ul li {
		  box-sizing: border-box;
		  width: 100%;
		  padding: 24px;
		  text-align: center;
	}

	.menu-icon {
		  display: block;
	}

}
nav ul li a:hover{
	color: #fff;
	text-decoration: none;
}
.link:after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #fff;
	transition: width .3s;
}
.link:hover:after{
	width: 100%;
	transition: width .3s;
}
/* Navbar section end */

/* Video section start*/
.vid{
	height: 560px;
	width: 100%;
}
.vid h1{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%); 
	text-transform: uppercase; 
	text-align: center; 
	color: #fff;
	font-size: 16px;
	font-weight: 600; 
	letter-spacing: 10px;
}
.vid-overlay{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
	background-color: rgba(0,0,0,.5);
}
.btn{
	cursor: pointer;
	border: 0.5px solid #fff;
	border-radius: 0px;
}
.btn-video{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%); 
	padding: 5px 20px;
	font-size: 25px;
	color: #fff;
	text-align: center;
}

.btn-video:hover{
	border-color: #fff;
	color: #000;
	background-color: #fff;
	transition: .2s;
}
/* Video section end*/

/* Store section start*/
.store{
	margin-top: 50px;
	margin-bottom: 50px;
}
.store-main{
	height: 700px;
}
/* Store section end*/

/* Licensing section start*/
.license{
	background-image: url('../assets/img/bg.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 700px;
}
.license-header{
	padding-top: 75px;
}
.license-item-container{
	transition: all .2s ease-in-out;
	background-color: #1C1C1C;
}
.license-item-container:hover{
	transform: scale(1.05);
	cursor: pointer;
	z-index: 3;
}
.license-item{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 15px;
	margin-bottom: 0px;
}
.license-item-price{
	background-color: #e31c25 ;
}
.license-item-info-line, .license-item-title{
	color:#fff;
}
/* Licensing section end*/

/* Advantages section start */
.advantages{
	margin-top: 150px;
	height: 650px;
	background: url("../assets/img/img19.jpg") center no-repeat !important; 
	padding: 0;
	color: white;
}
.advantages-overlay{
	background: rgba(0,0,0,0.7);
	height: 100%;
	width: 100%;
	z-index: 5;
}
.advantages-item-info i{
	font-size: 30px;
}
.advantages-item-icon{
	border: 2px solid #d1002f;
	border-radius: 10px;
	padding: 5px 5px;
	width: 70px;
	height: 100px;
	height: auto;
}
.advantages-item-container{
	padding-left: 20px; 
	padding-right: 20px; 
}
.advantages-item-text h4{
	color: #d1002f;
}

@media(max-width: 576px){
	
}
/* Advantages section end */

/* Contacts section start */
#vk{
	background: url("../assets/img/gif4.gif") center no-repeat;
	background-size: cover;
}
#insta{
	background: url("../assets/img/gif1.gif") center no-repeat;
	background-size: cover;
}
#bs{
	background: url("../assets/img/gif3.gif") center no-repeat;
	background-size: cover;
}
#sc{
	background: url("../assets/img/gif2.gif") center no-repeat;
	background-size: cover;
}
.contacts.container-fluid{
	padding: 0px;
}
.contacts .row{
	margin: 0px;
}
.contacts-item{
 	padding: 5px;
	height: 350px;
}
.contacts-item-info{
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	color: white;
	font-size: 30px;
	transition: 0.2s;
}
.contacts-item-info p{
	font-size: 16px;
	color: #d1002f;
}
.contacts-item-overlay{
	width: 100%;
	height: 100%;
	z-index: 3;
	transition: 0.2s;
	padding: 5px;
}
.contacts-item:hover .contacts-item-overlay{
 	border: 3px solid #d1002f;
 	background-color: rgba(0,0,0,0.5);
}
.contacts-item:hover .contacts-item-info{
	display: block;
}
.contacts-item-info i{
	color: #d1002f;
	border: 2px solid #d1002f;
	padding: 7px;
	border-radius: 5px;
}
/* Contacts section end */

/* Footer section start*/
footer h6{
	margin: 0px !important;
	color: white;
	font-size: 12px;
}
footer{
	background-color: #000000;
	padding: 20px;
}
/* Footer section end*/